* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle, #020617, #000);
  color: white;
  min-height: 100vh;
  transition: 0.5s ease;
}

body.light {
  background: #f1f5f9;
  color: #0f172a;
}

header {
  text-align: center;
  padding: 50px 20px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  border: 2px solid #0ea5e9;
  box-shadow: 0 0 30px #0ea5e9;
  margin-bottom: 20px;
  object-fit: cover;
  transition: 0.5s;
}

.avatar:hover {
  transform: rotateX(10deg) rotateY(10deg) scale(1.05);
}

#themeToggle {
  position: fixed;
  top: 15px;
  right: 20px;
  padding: 10px 15px;
  background: #0ea5e9;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 15px;
}

.card {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 15px 40px black;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: perspective(1000px) rotateX(3deg) rotateY(3deg) scale(1.01);
}

.skills span {
  display: inline-block;
  padding: 8px 15px;
  background: #0f172a;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid #0ea5e9;
}

.terminal {
  background: black;
  color: #00ff9d;
  font-family: monospace;
  padding: 15px;
  border-radius: 10px;
  min-height: 120px;
  box-shadow: inset 0 0 10px #00ff9d;
  overflow-y: auto;
}

.links a {
  display: inline-block;
  margin: 10px 15px 0 0;
  padding: 10px 20px;
  background: linear-gradient(45deg, #0ea5e9, #2563eb);
  color: white;
  border-radius: 10px;
  text-decoration: none;
}

.links a:hover {
  transform: translateY(-3px);
}

body.light .card {
  background: white;
  color: black;
}

body.light .terminal {
  background: #0f172a;
}
