body {
  margin: 0;
  font-family: 'Oxanium', sans-serif;
  background: #050505;
  color: white;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  z-index: 999;
}

nav a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #00ff99;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 100px;
  background: linear-gradient(135deg, #0a0a0a, #0f2027);
}

.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.hero span {
  color: #00ff99;
  font-size: 2.5rem;
}

.section {
  padding: 120px 80px;
}

.dark {
  background: #0d0d0d;
}

.skills-grid, .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  margin-top: 40px;
}

.skill-card, .project-card {
  background: #111;
  padding: 30px;
  border-radius: 10px;
  transition: 0.4s;
}

.skill-card:hover,
.project-card:hover {
  transform: translateY(-10px);
  background: #151515;
  box-shadow: 0 0 20px #00ff9944;
}

.timeline {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.timeline-item {
  background: #111;
  padding: 20px;
  border-left: 4px solid #00ff99;
}

.contact-box {
  text-align: center;
  font-size: 1.5rem;
}

footer {
  padding: 40px;
  text-align: center;
  background: #000;
}
