* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: radial-gradient(circle, #020617, #000);
  color: white;
  transition: 0.4s;
}

body.light {
  background: #f8fafc;
  color: #0f172a;
}

.status-bar {
  background: black;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.status-bar .online {
  color: #00ff9d;
  font-weight: bold;
}

#langToggle {
  margin-left: 15px;
  padding: 5px 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #0ea5e9;
}

#themeToggle {
  position: fixed;
  top: 60px;
  right: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #0ea5e9;
}

header {
  text-align: center;
  padding: 40px 20px;
}

.avatar {
  width: 150px;
  border-radius: 20px;
  border: 2px solid #0ea5e9;
  margin-bottom: 15px;
  box-shadow: 0 0 25px #0ea5e9;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.card {
  background: rgba(255,255,255,0.03);
  padding: 25px;
  margin: 20px 0;
  border-radius: 15px;
}

.project {
  margin-top: 15px;
}

.project a {
  color: #0ea5e9;
  text-decoration: none;
}

.terminal {
  background: black;
  color: #00ff9d;
  padding: 15px;
  font-family: monospace;
  min-height: 150px;
  border-radius: 10px;
  overflow-y: auto;
}

.links a {
  display: inline-block;
  margin: 8px;
  padding: 10px 15px;
  background: #1e293b;
  color: white;
  border-radius: 8px;
  text-decoration: none;
}
